* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation {
    display: flex;
    display: none;
    justify-content: space-between;
    padding: 1rem;
    width: 60%;
    align-items: center;
    list-style: none;
    .logo {
        width: 5rem;
    }
    a {
        color: white;
        text-decoration: none;
    }

    button{
        right: 0;
        margin-right: 3rem;
        top: 30px;
        position: absolute;
        border-radius: 0.5rem;
        padding: 0.4rem 0.5rem;
        background-color: white;
        color: blue;
        cursor: pointer;
}

}

@media screen and (min-width: 767px) {
    .navigation {
        display: block;
        display: flex;
    }
}